@mixin cf {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

#app {
  padding-bottom: 40px;
}

#appHeader {
  position: fixed;
  width: 100%;
  padding: 15px 14px;
  background: #292929;
  z-index: 10;
  .inner {
    @include cf;
  }
  &.active {
    &:after {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 60px;
      background: rgba(0, 0, 0, .7);
      content: "";
    }
    .side_menu {
      transform: translateX(0);
    }
    .btn_menu {
      transform: rotate(90deg)
    }
  }
  .app_logo {
    float: left;
    padding-top: 4px;
    img {
      display: inline-block;
    }
  }
  .btn_menu {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: -7px;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;
    background: none;
    outline: none;
    .ico_menu {
      width: 5px;
      height: 23px;
      background-position: -90px 0;
    }
 
  }
  .side_menu {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100vh;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .8s;
    z-index: 11;
    transform: translateX(-100%);
    .wrap_profile{
      overflow: hidden;
      margin-bottom: 20px;
      padding-bottom: 25px;      
      border-bottom: 1px solid #ebebeb;
      .wrap_thumb{
        overflow: hidden;
        float: left;
        width: 80px;     
        height: 80px; 
        margin-right: 20px;
        border-radius: 50%;
        border:1px solid rgba(0,0,0,.2);
        &.no_profile{
          .thumb_img{
            display: block;
            width: 60px;
            margin:15px auto 0;
          }
        }
      }
      .user_name{
        font-size: 20px;
        line-height: 80px;
      }
    }
    .list_menu{
      padding-bottom: 25px;
      border-bottom: 1px solid #ebebeb;
      li{
        line-height: 50px;
        padding-left: 20px;
      }
    }
    .btn_logout{
      float: right;
      margin-top: 30px;
    }
    .inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      padding:50px 20px;
      background: #fff;
    }
  }
  .search_form {
    position: relative;
    width: calc(100% + 14px);
    height: 0;
    overflow: hidden;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
    &.on {
      height: auto;
      margin: 20px 0;
      .inp_search {
        width: 100%;
        transition-delay: .3s;
      }
      .btn_search {
        opacity: 1;
        transition-delay: .5s;
      }
    }
    .inp_search {
      display: block;
      border: 1px solid #ededed;
      width: 0%;
      height: 40px;
      text-indent: 10px;
      font-size: 15px;
      color: #555;
      outline: none;
      transition: cubic-bezier(0.215, 0.610, 0.355, 1) .4s;
    }
    .btn_search {
      position: absolute;
      outline: none;
      right: 10px;
      top: 8px;
      width: 30px;
      height: 30px;
      opacity: .5;
      background: url('https://image.flaticon.com/icons/svg/149/149309.svg') no-repeat;
      background-size: 25px 25px;
      opacity: 0;
      transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
    }
  }
}

#appNav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #292929;
  z-index: 100;
  .gnb {
    overflow: hidden;
  }
  li {
    float: left;
    width: 20%;
    text-align: center;
    line-height: 41px;
    color: #fff;
    a {
      display: block;
      color: #fff;
    }
  }
}

#content {
  padding-top: 102px;
  &:after {
    position: fixed;
    width: 100%;
    height: 250px;
    background: #292929;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
  }
  .tit_page {
    position: fixed;
    left: 50%;
    top: 21px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    background: #292929;
    z-index: 100;
    transform: translateX(-50%);
  }
  .tit_user {
    margin-bottom: 40px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
  .user_cont {
    padding-top: 80px;
    input {
      width: 100%;
      height: 50px;
      text-indent: 10px;
      border-bottom: 1px solid #ededed;
    }
    .btn_user {
      float: right;
      width: 120px;
      height: 40px;
      ;
      margin-top: 20px;
      color: #fff;
      background: #292929;
      text-transform: capitalize
    }
  }
  .link_util {
    text-align: center;
    font-size: 15px;
    a {
      color: #555;
    }
  }
}

#appfooter {}

.link_item {
  display: block;
}

.ico_fead {
  display: inline-block;
  text-indent: -9999px;
  background: url('./assets/images/ico_fead.png');
  background-size: 384px 384px;
}
