@mixin icoPath {
  background-image: url("./assets/images/ico_fead.png");
}

@mixin lineClamp($num) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

.no_img {
  height: 220px;
  border-right: 0 none;
  background: url("./assets/images/no_img.png") no-repeat center;
  background-size: 80px auto;
  &:after {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
  }
}

.thumb_img {
  width: 100%;
}

.list_articles {
  overflow: hidden;
  li {
    .btn_like {
      width: 10px;
      height: 10px;
      background: #fff;
      position: relative;
      transform: rotate(45deg);
      &:before,
      &:after {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        content: "";
      }
      &:before {
        left: -5px;
        top: 0px;
      }
      &:after {
        right: 0;
        top: -5px;
      }
      &.like {
        background: #f00;
        &:before,
        &:after {
          background: #f00;
        }
      }
    }
    background-size: cover;
    position: relative;
    margin: 0 2% 24px 2%;
    height: 240px;
    border-radius: 5px;
    padding: 100px 10px 20px;
    overflow: hidden;
    opacity: 0;
    transition: ease-out 0.5s;
    transform: translateX(100%);
  }
  .news_cate {
    position: absolute;
    top: 25px;
    left: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tit {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .desc_news {
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .txt_date {
    display: block;
    font-size: 12px;
    color: #f5f5f5;
    margin-bottom: 10px;
  }
  .link_more {
    color: #fff;
  }
  .bg_news {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      content: "";
    }
  }
}

.list_headline {
  li {
    position: relative;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 10px 13px 30px rgba(9, 9, 9, 0.3);
  }
  .btn_scrap {
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
    height: 35px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: none;
    z-index: 1;
  }
  .link_item {
    display: block;
  }
  .wrap_thumb {
    display: block;
    overflow: hidden;
    position: relative;
    max-height: 220px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top:1px solid rgba(0,0,0,.1);
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.35) 70%,
        rgba(0, 0, 0, 0.65) 99%
      );
      content: "";
    }
  }
  .wrap_info {
    padding: 15px 15px 20px;
  }
  .tit_news {
    display: -webkit-box;
    overflow: hidden;
    margin: 10px 0 15px;
    font-size: 20px;
    line-height: 60/48 * 100%;
    word-break: keep-all;
    color: #242424;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .txt_source {
    font-size: 13px;
    margin-right: 5px;
    color: #838383;
  }

}

.list_category {
  height: calc(100vh - 91px);
  li {
    position: relative;
    text-align: center;
    vertical-align: middle;
    perspective: 800px;
    transform: rotateX(120deg);
    transition: ease-out 0.3s;
    opacity: 0;
  }
  .bg_category {
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.3) 70%,
        rgba(0, 0, 0, 0.6) 99%
      );
      content: "";
    }
  }
  img {
    width: 100%;
  }
  .tit_cate {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    transform: translate(-50%, -50%);
    .name_ko {
      display: block;
      font-size: 15px;
      padding-top: 5px;
      margin-top: 3px;
      border-top: 1px solid #fff;
      color: #fff;
    }
  }
}

.list_news {
  li {
    position: relative;
    height: 150px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 10px 13px 30px rgba(9, 9, 9, 0.3);
  }
  .wrap_thumb {
    overflow: hidden;
    position: relative;
    width: 160px;
    height: 100%;
    background-size: 40px auto;
    background-position: 40px center;
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.5) 70%,
        rgba(0, 0, 0, 0.8) 99%
      );
      content: "";
    }
  }
  .wrap_info {
    position: absolute;
    width: 70%;
    right: 0;
    bottom: 0px;
    padding: 15px 20px;
    background: #fff;
    .news_subject {
      display: block;
      margin-bottom: 10px;
      font-size: 15px;
      word-break: keep-all;
      @include lineClamp(2);
    }
    .news_desc {
      height: 36px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 18px;
      color: #777;
      @include lineClamp(2);
    }
    .txt_source {
      float: left;
      font-size: 12px;
      color: #555;
    }
    .txt_date {
      float: right;
      font-size: 11px;
      color: #999;
    }
  }
  img {
    width: 100%;
  }
}
.category_cont {
  padding-top: 50px;
}
.wrap_inp {
  overflow: hidden;
  margin-top: 40px;
  strong {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
  }
  label {
    float: left;
    width: 33.3333%;
    line-height: 30px;
    color: #555;
    &:before {
      content: "#";
      padding-right: 3px;
    }
  }
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    top: -9999px;
    &:checked + label {
      &:before {
        color: #f00;
      }
    }
  }
}

.section_cate {
  padding-bottom: 30px;
  .tit_cate {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0 20px;
  }
}

.list_interest {
  display: -webkit-box;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 40px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    height: 1px;
    border-bottom: 1px solid #ededed;
  }
  &::-webkit-scrollbar-thumb {
    background: #555;
    height: 1px;
    width:30px;
  }
  li {
    width: 92%;
    margin-right: 15px;
    margin-right: 15px;
    margin-right: 15px;
    box-shadow: 10px 13px 30px rgba(9, 9, 9, 0.3);
  }
  .wrap_thumb {
    height: 15em;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    &.no_img {
      background-size: 50px auto;
      background-position: center;
    }
    &:after {
      position: absolute;
      border: 1px solid rgba(0, 0, 0, 0.075);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
    }
  }
  .wrap_info {
    padding: 15px 15px 20px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-top: 0 none;
  }
  .tit_news {
    display: -webkit-box;
    overflow: hidden;
    height: 48px;
    margin: 10px 0 15px;
    font-size: 20px;
    line-height: 60/48 * 100%;
    word-break: keep-all;
    color: #242424;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .txt_source {
    font-size: 13px;
    margin-right: 5px;
    color: #838383;
  }
  .link_more {
    float: right;
    position: relative;
    width: 90px;
    padding-bottom: 3px;
    color: inherit;
    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 10px;
      @include icoPath;
      background-size: 384px 384px;
      background-position: 0 0;
      content: "";
    }
  }
}
.news_desc {
  height: 36px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #777;
  @include lineClamp(2);
}
.preloader{
  position: fixed;
  width: 75px;
  height:90px;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 100;
  background: url("./assets/images/preloader.png") no-repeat; 
  background-size: 100%;
  .preloader_txt{
    display: block;
    clear: both;
    width: 42px;
    height: 16px;
    margin: auto;
    background: url("./assets/images/preloader_txt.png") no-repeat; 
    background-size: 100%;
  }
  .left{
    float: left;
    width: 30px;
    height: 100%;
    background: url("./assets/images/l.png") no-repeat; 
    background-size: 100%;
  }
  .right{
    position: absolute;
    right:0;
    top: 0;
    width: 37px;
    height: 100%;
    background: url("./assets/images/r.png") no-repeat right;    
    background-size:100% 100%;
    animation:flip 1.8s infinite linear;
    transform-origin:0% 50%;
    animation-delay: .5s;
  }
}
.profile_wrap{
  overflow: hidden;
  width: 80px;
  height: 80px;
  img{
    width: 100%;
  }
}
.profile_img{
  .wrap_profile{
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 80px;    
    border-radius: 50%;    
    &:before{
      position: absolute;
      left:0;
      right:0;
      bottom:0;
      top:0;
      border:1px solid rgba(0,0,0,.07);
      border-radius:50%;
      content:"";
    }
    img{
      width: 100%;
    }
  }
}
.wrap_headline{
  margin:0 0 20px -20px;
  .list_headline{
    display: -webkit-box;
    overflow-y: hidden;
    height: 400px;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      height: 1px;
      width:50%;
      border-bottom: 1px solid #ededed;
    }
    &::-webkit-scrollbar-track{
      margin-left: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: #555;
      height: 1px;
      width:30px;
    }
  }
  li{
    margin-right: 20px;
    &:first-child{
      margin-left: 20px;
    }
  }
  .wrap_thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 240px;
    // max-height: 240px;
    height: 180px;
    max-height: 180px;
  }
}
.wrap_category{
  background: #fff;
  margin:0 0 20px -7px;
  padding-left: 13px;
  .tit_cate{
    position: relative;
    margin-bottom: 10px;
    padding:20px 10px 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    color: #333;
    .link_more{
      font-size: 13px;
      width: 80px;
      &:after{
        background-position: -12px 0;
      }      
    }
    &:after{
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 30px;
      height: 2px;
      background: #555;
      content:"";
    }
  }
  .list_cate{
    overflow: hidden;    
    li{
      overflow: hidden; 
      position: relative;  
      float: left;
      width: calc(50% - 5px);   
      height: 205px;      
      margin-bottom: 10px;
      border:1px solid #e3e3e3;
      &:nth-child(odd){
        margin-right: 10px
      }
    }
    .wrap_thumb{
      overflow: hidden;
      height: 100px;
      background-color:#fff;
      &.no_img{
        background-size: 50px auto;
      }
      &.bg_wrap{
        position: relative;        
        height: 100%;      
        &:after{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.4);
          content: "";
        }  
        +.wrap_info{
          position: absolute;
          bottom:0;
          left: 0;
          border-top: 0 none;
          background:transparent;
          .txt_source,.txt_date{
            color: #ccc;
          }
          .tit_news{
            color: #fff;
          }
        }
      }
    }
    .wrap_info{      
      padding:10px;
      border-top: 1px solid #ededed;
      background:#fff;
    }
    .txt_source{
      display: block;
      margin-bottom:5px;
      color: #999999;
    }
    .tit_news{
      display: -webkit-box;
      overflow: hidden;
      height: 38px;
      margin-bottom: 10px;
      line-height: 19px;
      -webkit-line-clamp:2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .txt_date{
      font-size: 12px;
      color: #999;
    }
  }
}
.link_more {
  float: right;
  position: relative;
  width: 90px;
  padding-bottom: 3px;
  color: inherit;
  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10px;
    @include icoPath;
    background-size: 384px 384px;
    background-position: 0 0;
    content: "";
  }
}
.post_cont{
  padding-top: 80px;
  .tit_post{
    font-size: 20px;
    margin-bottom: 45px;
    color: #fff;
  }
  .txt_tag{
    margin-right:10px;
  }
}
.quillWrapper{
  background: #fff;
  .ql-container{
    padding:5px 10px;
  }
}

.ql-editor{
  padding:10px 10px 10px 0 !important;
  .ql-syntax{
    display: block;
    padding:10px;
    color: #fff;
    background: #222;
  }
}



@keyframes flip {
  0%{
      transform: perspective( 600px ) rotateY( -0deg );
  }
  10%{
      transform: perspective( 200px ) rotateY( -30deg );
  }
  20%{
      transform: perspective( 200px ) rotateY( -60deg );
  }
  30%{
      transform: perspective( 200px ) rotateY( -90deg );
  }
  55%{
    opacity:.8;
  }
  60%{
    transform: perspective( 200px ) rotateY( -180deg );
    opacity: .6;
  }
  70%{
    transform: perspective( 200px ) rotateY( -180deg );
    opacity: .4;
    
  }
  80%{
    transform: perspective( 200px ) rotateY( -180deg );
    opacity: .1;
  }
  90%{
    transform: perspective( 200px )
    rotateY( -180deg );
    opacity: 0;
  }
  100%{
    transform: perspective( 200px )
    rotateY( -180deg );
    opacity: 0;
  }
}


.wrap_signup{
  overflow: hidden;
}